<div class="bg-primary" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <img class="notes_img" src="img/notes.png">
        <div class="coming_soon">
          <h3 class="font_size">More stuff coming soon...</h3>   
        </div>                       
      </div>          
    </div>
  </div>

  <div class="pages">
    <div style="float: left; color: white;">2017 Copyright &copy; JenniferGrudi</div>       
  </div>
</div>  